* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Px-Grotesk !important;
}
.exportSpaec {
  height: 40px;
}
.exportList {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #c8c8c8;
  width: 200px;

  font-size: 17px;
}
.exportListHolder {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pending {
  font-size: 20px !important;
  color: var(--orange) !important;
}
.reject {
  color: var(--red) !important;
}
.approve {
  color: var(--darkGreen) !important;
}
/**editer*/
.ce-block__content {
  margin: 10px 0 !important;
  padding: 0 20px !important;
}
.listItem {
  cursor: pointer;
  padding: 2px;
}
.Modal {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  /* display: block; */
  /* padding: 2em; */
  /* min-width: 20em;
  max-width: 70%; */
  /* overflow-y: scroll; */
  padding-bottom: 20px;
  background-color: #fff;
  height: 100%;
  outline: transparent;
}

.NavBar_ctrl {
  width: 300px;
  height: 100%;
  display: flex;
  position: fixed;
  margin-left: 87px;
  padding-right: 4px;
  z-index: 2;
  padding: 40px 30px;
  flex-direction: column;
  border: 1px solid var(--lighterGray);
  justify-content: space-between;
  background-color: #f7f7f7;
}
.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LightText {
  color: var(--darkGray);
  font-size: 1vw;
}
.listTitle {
  display: flex;
  gap: 10px;
  font-size: 24px !important;
  flex-direction: row;
  padding: 0 !important;
  cursor: unset !important;
  background-color: transparent !important;
  margin-bottom: 40px !important;
}
/***tab **/
.ant-tabs-nav {
  /* background-color: red !important; */
  border-radius: 0 !important;
  border: 1px solid white !important;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  background-color: transparent !important;
  border: none !important;
  color: var(--darkGray) !important;
}
.ant-tabs-nav-list {
  border-top: unset !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000000 !important;
  font-weight: 500;
}
.MuiAppBar-colorPrimary {
  color: black !important;
  background-color: white !important;
  border-bottom: 1px solid var(--lighterGray) !important;
}
.PrivateTabIndicator-colorSecondary-4 {
  background-color: red !important;
}
.PrivateTabIndicator-colorSecondary-10 {
  background-color: transparent !important;
}
.MuiPaper-elevation4 {
  box-shadow: unset !important;
}
.titleIcon {
  padding: 7px 5px;
  height: 38px;
  font-size: 20px !important;

  border-radius: 6px;
  background-color: var(--yellow);
}
.NavBar_ctrl ul {
  list-style: none;
}
.NavBar_ctrl .active {
  background-color: var(--lighterGray);
  color: #1d1d1d !important;
}
.NavBar_ctrl li {
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  color: var(--darkGray) !important;
  border-radius: 7px;
  margin-bottom: 10px;
}
.ant-upload-list-item-error,
.ant-upload-list-item-error .ant-upload-text-icon > .anticon,
.ant-upload-list-item-error .ant-upload-list-item-name {
  color: black !important;
}

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.3) !important;
}
.ant-popover-inner-content {
  padding: 17px 15px !important;
}
.ant-popover-inner {
  border-radius: 7px !important;
  overflow: hidden !important;
  /* margin: 0 30px; */
}
.ant-popover-placement-rightBottom > .ant-popover-content > .ant-popover-arrow {
  bottom: 20px !important;
  /* margin: 0 20px; */
  padding: 2px;
  width: 30px;
  height: 30px;
}
.upload_modal_event {
  /* display: grid;
  align-items: center;
  grid-template-columns: 1fr; */
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  /* min-width: 350px; */
  width: 100%;

  border-radius: 7px;
  /* min-height: 270px; */
  /* padding: 0 20%; */
  margin-bottom: 20px;
  background-color: #f4f7fc;
  /*margin-top: 20px; */
  gap: 5%;

  border: 3px dashed #e8e8e8;

  padding: 10% 11%;
}

.stylecss .ant-select-selector {
  width: 12vw !important;
  background-color: var(--lightGray) !important;
}
.ant-select-selector {
  border-radius: 7px !important;
}
html,
body {
  height: 100% !important;
}
.SkeletonCss {
  width: 70;
  /* background-color: rebeccapurple; */
  height: 3;
}
/*******************************  slick styles ******************/
.slick-dots li {
  margin: 0px !important;
}
.slick-slider {
  width: 100% !important;

  height: 100% !important;
}
.slick-dots {
  bottom: 15px !important;
}
.slick-list {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
/****************************************************************/
/**************************** ant datepicker styles *************************/
.datePicker {
  border-radius: 7px;
  height: 30px;
}
.react-datepicker__input-container {
  border: 1px solid #e1e4e8;
}
.react-datepicker__input-container input,
.react-datepicker__input-container input:focus {
  border: none !important;
  width: 180px;
  outline: none;
}
.datePickerIcon {
  background-color: var(--lightGray);
  padding: 0 7px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  border: 1px solid var(--lighterGray);
  border-radius: 0 7px 7px 0;
  align-items: center;
}
/****************************************************************/

/******************** dot styles /booking popup ****************/
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: var(--lighterGray);
  float: left;
  margin: 0 3px;
  transition: all 10s ease-in-out;
  -webkit-transition: background-color 0.5s, width 0.5s;
  -o-transition: background-color 0.5s, width 0.5s;
  transition: background-color 0.5s, width 0.5s;
  -webkit-transition-delay: 0.5s, 0.5s;
  -o-transition-delay: 0.5s, 0.5s;
  transition-delay: 0.5s, 0.5s;
}
.cDot {
  width: 50px;
  height: 6px;
  border-radius: 10px;
  float: left;
  margin: 2px 3px;
  transition: all 10s ease-in-out;
  background-color: var(--yellow);
  -webkit-transition: background-color 0.5s, width 0.5s;
  -o-transition: background-color 0.5s, width 0.5s;
  transition: background-color 0.5s, width 0.5s;
  -webkit-transition-delay: 0.5s, 0.5s;
  -o-transition-delay: 0.5s, 0.5s;
  transition-delay: 0.5s, 0.5s;
}
/***********************************************************/

/***********************editeerjs icon *********************/
.ce-toolbar__plus {
  border-radius: 7px !important;
  color: black !important;
  background-color: var(--yellow) !important;
}

/**********************************************************/
/******************* calneder styles  ********************/

.fc-button-group {
  gap: 10px !important;
}
.fc-scroller {
  overflow: hidden !important;
}
.fc-theme-standard .fc-scrollgrid {
  border: none !important;
  padding: 0 !important;
}
.fc-scroller-liquid-absolute {
  overflow: unset !important;
}
.fc .fc-scroller-harness {
  overflow: unset !important;

  background-color: white !important;
}
.fc-media-screen .fc-col-header-cell {
  padding-bottom: 0 !important;
}
.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  min-height: 20px !important;
}
.fc-media-screen td:last-child {
  border-right: none !important;
  border-bottom: none !important;
}
.fc-media-screen {
  /* padding-left: 30px; */
}
.ant-tabs-nav-wrap {
  margin: 0 !important;
}
.fc-media-screen .fc-col-header-cell {
  text-transform: uppercase !important;
  padding-bottom: 7px !important;
}
.fc-col-header-cell-cushion {
  color: #b5b5b5 !important;
  font-weight: 500;
  letter-spacing: 2px;
  overflow: hidden !important;
}
.fc-prev-button,
.fc-next-button {
  background-color: white !important;
  color: var(--lighterGray) !important;
  padding: 1px 5px !important;
  border-radius: 8px !important;
  text-transform: capitalize !important;
  height: 28px !important;
  border: 1px solid var(--lighterGray) !important;
}
.fc-header-toolbar {
  padding-bottom: 10px !important;
  border-bottom: 1px solid var(--lighterGray) !important;
}
.fc-today-button {
  background-color: white !important;
  color: black !important;
  padding: 3px 15px !important;
  border-radius: 8px !important;
  text-transform: capitalize !important;

  border: 1px solid var(--lighterGray) !important;
}
.fc-theme-standard .fc-scrollgrid {
  position: relative !important;
  padding-left: 10 !important;
  padding-right: 10 !important;
  height: 100% !important;
}
.fc-scrollgrid-sync-table {
  width: 100% !important;
  position: relative;

  background-color: white !important;
}
.fc-daygrid-body.fc-daygrid-body-unbalanced {
  width: unset !important;
}
.fc-toolbar-title {
  color: #4d4c4c !important;
  font-weight: 400;
  font-size: 17px !important;
}
.fc-col-header {
  width: 100% !important;
}
.fc-daygrid-day {
  padding: 0 !important;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  border-radius: 7px !important;
  padding-left: 5px;
}
.fc-scroller {
  height: 100% !important;
}

.fc-event-title.fc-sticky {
}
.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  padding: 0 10% !important;
  height: auto !important;
}
.fc .fc-daygrid-day-top {
  display: flex;
  flex-direction: row !important;
}
.slick-dots li {
  width: 10px !important;
}

#flex-col {
  display: flex;
  flex-direction: column;
}

.fc-daygrid-event {
  position: unset !important;
}
/**********************************************************/

/******date input white icon*******/
.ant-picker-focused,
.ant-picker {
  border-radius: 7px !important;
}

/******input whit icon*****/
.ant-input-group-addon {
  border-bottom-right-radius: 7px !important;
  border-top-right-radius: 7px !important;
  color: var(--textGray) !important;
  border-radius: 0 7px 7px 0 !important;
  border-color: var(--lighterGray) !important;
}
.ant-input-group > .ant-input:first-child,
.ant-input-group-addon:first-child {
  border-top-right-radius: 0 !important;
  border-right: none !important;
  border-color: var(--lighterGray) !important;
  border-bottom-left-radius: 7px !important;
  border-top-left-radius: 7px !important;
}
/*******Modle setyle*******/

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.3) !important;
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fc-daygrid-day-frame:before,
.fc-daygrid-day-events:before,
.fc-daygrid-event-harness:before {
  border: 1px solid transparent !important;
}
/* .slide {
padding-bottom: 10px !important;
background-color: rebeccapurple !important;
} */
/****search list****/

.ant-list-header {
  padding: 0 !important;

  border-bottom: 1px solid #f0f0f0;
}

.ant-list-footer {
  border-top: 1px solid #f0f0f0 !important;
}

/**********/
.modleWrapper {
  width: 670px;
  height: auto;
  padding: 0px 40px;
  display: flex;

  transition: height 0.4s linear;
  -webkit-animation: anim 0.5s ease-in;
  animation: anim 0.5s ease-in;
  flex-direction: column;
}

.customModal {
  border-radius: 7px;
  /* width: 700px; */
  overflow: hidden;
  transition: height 0.4s linear;
  -webkit-animation: anim 0.5s ease-in;
  animation: anim 0.5s ease-in;
  padding: 0 !important;
}
.event {
  background-color: var(--lightBlue) !important;
  border: 2px solid dashed var(--lighterGray);
}
.upload_modal .img {
  height: auto;
  width: 140px;
  height: 120px;
  padding: 15px;
  pointer-events: none;
}
.upload_modal_event .img {
  height: auto;
  width: 150px;
  height: 140px;
  padding: 15px;
  pointer-events: none;
}
.upload_img_close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upload_modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
  border-radius: 7px;
  min-height: 270px;
  margin-bottom: 10px;
  /*margin-top: 20px; */
  gap: 5%;
  font-size: 17px;
  border: 3px dashed var(--lighterGray);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.upload_modal [type="file"] + label {
  color: black;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid var(--lighterGray);
}
.upload_modal [type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}
.active {
  border: 4px dashed var(--lighterGray) !important;
}

@keyframes listFade {
  from {
    opacity: 0;
    transform: translatex(16px);
  }

  to {
    opacity: 1;
    transform: translatex(0px);
  }
}
a {
  color: var(--darkGray) !important;
}
a:hover {
  color: var(--yellow) !important;
}

/*********************Resrvation item style *************************/
.items {
  border-radius: 7px;
  display: flex;

  flex-direction: column;
}
.items > div {
  border-bottom: 1px solid var(--lightGray);
}
.items > div:last-child {
  border-bottom: none;
}

a:hover,
a {
  color: unset !important;
}

#holder {
  position: relative;
}

#pupup {
  position: absolute;
  top: 0;
  left: 30%;

  width: max-content;
  height: auto;
  padding: 20px 50px 20px 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  border-radius: 4px;
  color: var(--darkGray);
  z-index: 9 !important;
}
/***************************** ant design styles******************/
.ant-table-cell {
  padding: 2px 15px !important;
}
.ant-table-tbody > tr > td {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border: 1px solid var(--yellow) !important;
}

.ant-checkbox-wrapper,
.ant-checkbox-inner,
.ant-checkbox,
.ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-radius: 6px !important;
  outline: 0 !important;
  margin-left: 3px !important;
}
.ant-input-number-focused {
  color: none !important;
  background: none !important;
  border-color: none !important;
}

.ant-btn {
  border-radius: 7px !important;
  text-align: left !important;
}

.slick-dots li.slick-active button:before {
  color: var(--yellow) !important;
}

.ant-table-container {
  border: 1px solid var(--lighterGray) !important;
  border-radius: 10px 10px 0 0 !important;
  border-bottom: none !important;
}
th:first-child {
  border-radius: 10px 0 0 0 !important;
}
th:last-child {
  border-radius: 0 10px 0 0 !important;
}
.ant-tag {
  border: none !important;
  border-radius: 6px !important;
}
.ant-tag-green {
  color: var(--darkGreen) !important;
  background: var(--LightGreen) !important;
}
.ant-tag-red {
  color: var(--red) !important;
  background: var(--lightRed) !important;
}
.ant-tag-gold {
  color: var(--orange) !important;
  background: var(--lightOrange) !important;
}
.ant-tag-blue {
  color: var(--blue) !important;
  background: var(--lightBlue) !important;
}

/***************************************************************/
:root {
  --black: #e1c340;
  --yellow: #a4e8e0;

  --gray: #8a8a8a;
  --darkGray: #a1a1a1;
  --textGray: #c7c7c7;
  --lighterGray: #e6e6e6;
  --lightGray: #f7f7f7;
  --blue: #3b86ff;
  --darkBlue: #475f7b;
  --lightBlue: #ecf1fa;
  --red: #ff4d61;
  --lightRed: #fee7e7;
  --purple: #8b41dc;
  --orange: #ffac30;
  --lightOrange: #fff5e5;
  --darkGreen: #43cf5f;
  --RayGreen: #54ff34;
  --LightGreen: #ecfaef;
  --lightOrange: #fff5e5;
}
@font-face {
  font-family: "Px-Grotesk";
  src: url("./public/fonts/Px-Grotesk-Bold-Italic.ttf");
  src: url("./public/fonts/Px-Grotesk-Bold.ttf");
  src: url("./public/fonts/Px-Grotesk-Light.ttf");
  src: url("./public/fonts/Px-Grotesk-Regular-Italic.ttf");
  src: url("./public/fonts/Px-Grotesk-Regular-Italic.ttf");
  src: url("./public/fonts/Px-Grotesk-Regular.ttf");
}
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

.ant-notification-notice-close {
  display: none;
}
.ant-notification-notice-description {
  color: #b9c0ce;
}
/********Notification****/
.NotificationIcon {
  width: 30px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--lightOrange);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.ant-notification-notice-message {
  margin-left: 30px;

  padding: 10px 0 0 10px;
}
.Success {
  background-color: var(--LightGreen) !important;
}
.Failed {
  background-color: var(--lightRed) !important;
}
.errorText {
  color: var(--red);
  padding-top: 5px;
}
.ant-popover-arrow {
  background-color: white !important;
}
/************* notification popup styles**********/
.popup {
  position: fixed;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup-close {
  position: absolute;
}
.close-popup {
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.popup:target + .close-popup {
  opacity: 1;
  visibility: visible;
}
.Notifications_holder {
  position: relative;
}
.Notification_content {
  position: absolute;
  background-color: white;
  width: 398px;

  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: #fff;
  bottom: -35px;
  border-radius: 7px;
  border: 1px solid var(--lighterGray);
  left: 55px;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  margin-left: 10px;
}
.popup_arrow {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-color: transparent transparent #fff #fff;
  border-style: solid;
  left: -10px;
  bottom: 50px;
  box-shadow: -12px 8px 12px rgba(0, 0, 0, 0.16);

  border-width: 4px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 2;
}

/***********select*********************/
.costumSelect {
  border-radius: 7px !important;
}
/***********book modal third page modal****/

.cardItem {
  height: auto;
  min-height: 160px;
  min-width: 205px;
  padding: 11px;

  text-align: left !important;
  overflow: hidden;
  display: flex;
  /* white-space: nowrap; */
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-right: 20px;
  margin-bottom: 5px;
  flex-direction: column;
  border-radius: 5px;
}
@media screen and (max-width: 776px) {
  .r-ctrl,
  .s-ctrl {
    display: none;
  }
  .cl-ctrl {
    grid-template-columns: auto !important;
  }
}
.load_ctrl {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
